@import './globals.scss';

.header {
 &__title {
   width: 100%;
   text-align: center;
   color: $color-secondary;

   font-size: 24px;

   @media screen and (min-width: $screen-medium) {
    font-size: 38px;
   }
 }

 &__subtitle {
   padding-bottom: $spacer;
   font-size: 18px;
 }
}
